@if (teamInvitations.length > 0) {
  @for (notification of teamInvitations; track notification.idNotification) {

    <div class="notification-card">

      <h4>{{ notification.title }}</h4>
      <p>{{ notification.message }}</p>

      <button
        mat-raised-button
        color="primary"
        (click)="acceptInvitation(notification)"
      >
        Aceptar
      </button>

      <button
        mat-stroked-button
        color="warn"
        (click)="declineInvitation(notification)"
      >
        Declinar
      </button>

    </div>

  }
} @else {
  <p>No tienes invitaciones pendientes.</p>
}