.notifications-container {
  padding: 15px;
}

.section {
  margin-top: 10px;
}

.item {
  background: #f3f4f6;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}