<div class="overlay" *ngIf="!mostrarPopup">

    <div class="card-recover">

        <div class="back-login" (click)="volverLogin()">← Volver al Login</div>

        <div class="icon">🏆</div>

        <p class="title">Recuperar Contraseña</p>

        <h5 class="subtitle">Te enviaremos un enlace a tu email</h5>

        <form [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">

            <label>Email</label>

            <input 
            type="email"
            class="form-control"
            placeholder="tu@email.com"
            formControlName="email">

            <button type="submit" class="btn-primary">
                Enviar Enlace de Recuperación
            </button>

        </form>

        <div class="footer-text">
            Recordaste tu contraseña?
            <span (click)="volverLogin()">Inicia sesión</span>
        </div>

    </div>

</div>

<app-check-email *ngIf="mostrarPopup"></app-check-email>