<div class="container">

  <h2>Gestión de Equipos</h2>

  <div *ngIf="equipos.length === 0">
    No tienes equipos registrados.
  </div>

  <table *ngIf="equipos.length > 0" border="1" width="100%">

    <thead>
      <tr>
        <th>Nombre del Equipo</th>
        <th>Acción</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let equipo of equipos; let i = index">

        <td>{{ equipo.nombre }}</td>

        <td>
          <button (click)="eliminarEquipo(i)">
            Eliminar equipo
          </button>
        </td>

      </tr>

    </tbody>

  </table>

</div>
