<h2>Iniciar Sesión</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <label>Email:</label>
  <input type="email" formControlName="email">
  <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
    Email inválido
  </div>

  <br><br>

  <label>Contraseña:</label>
  <input type="password" formControlName="password">
  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
    La contraseña es obligatoria
  </div>
  <br>
 
  <br><br>

  <button type="submit">Ingresar</button>
  <button type="button" (click)="registrarse()">registrarse</button>

</form>

<a (click)="recuperarPassword()">
  ¿Olvidaste tu contraseña?
</a>