<h2>Registro de Jugador</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <label>Email:</label>
  <input type="email" formControlName="email">
  @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
    <div>Email inválido</div>
  }

  <br><br>

  <label>Contraseña:</label>
  <input type="password" formControlName="password">
  @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
    <div>Mínimo 6 caracteres</div>
  }

  <br><br>

  <label>Confirmar Contraseña:</label>
  <input type="password" formControlName="confirmPassword">

  @if (registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched) {
    <div>Las contraseñas no coinciden</div>
  }

  <br><br>

  <label>Nombre:</label>
  <input type="text" formControlName="nombre">
  @if (registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched) {
    <div>El nombre es obligatorio</div>
  }

  <br><br>

  <label>Fecha De Nacimiento:</label>
  <input type="date" formControlName="fechaNacimiento">
  @if (registerForm.get('fechaNacimiento')?.invalid && registerForm.get('fechaNacimiento')?.touched) {
    <div>La fecha es obligatoria</div>
  }

  <br><br>

  <button type="submit">Registrarse</button>

</form>

<p>¿Ya tienes cuenta? <a href="#">Iniciar sesión</a></p>
