.team-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 10px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.buttos-card-team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-column: none;
}

button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

button[type="submit"]:enabled {
    color: white;
    background: #1565c0;
}

.material-symbols-outlined {

    font-size: 14px;
}

.settings {
    color: black;
}

.delete {
    color: red;
}