<div class="container">


  <div class="header">
    <div class="back" (click)="volver()">← Volver al Dashboard</div>

    <div class="title-icon">
      <span class="material-symbols-outlined">calendar_month</span>
    </div>
    <h2>Partidos por Torneo</h2>
    <p>Consulta todos los partidos organizados por torneo</p>
  </div>

  <div *ngFor="let torneo of torneos" class="tournament-card">


    <div class="tournament-header">
      <div class="circle">
        <span class="material-symbols-outlined">schedule</span>
      </div>

      <div>
        <h3>{{ torneo.nombre }}</h3>
        <p>
          Categoría: {{ torneo.categoria }} <br>
          {{ torneo.equipos.length }} equipos •
          {{ torneo.partidos.length }} partidos •
          Tipo: {{ torneo.tipo }}
        </p>
      </div>
    </div>

    <hr>


    <div class="jornada">
      <span class="dot">🟣</span>
      <h4>Jornada 1</h4>
    </div>

    <div *ngFor="let partido of torneo.partidos" class="match">

      <div class="team">
        <div class="team-icon">
          <span class="material-symbols-outlined">groups</span>
        </div>
        <p>{{ partido.equipo1 }}</p>
        <small>0 jugadores</small>
      </div>

      <div class="vs">VS</div>

      <div class="team">
        <div class="team-icon">
          <span class="material-symbols-outlined">groups</span>
        </div>
        <p>{{ partido.equipo2 }}</p>
        <small>0 jugadores</small>
      </div>

    </div>

  </div>

  <div class="stats">

    <div class="stat-card">
      <p>Torneos con Partidos</p>
      <h3>{{ torneos.length }}</h3>
    </div>

    <div class="stat-card">
      <p>Total Partidos</p>
      <h3>{{ totalPartidos }}</h3>
    </div>

    <div class="stat-card">
      <p>Total Equipos</p>
      <h3>{{ totalEquipos }}</h3>
    </div>

  </div>

</div>