.basic{
  width: 100%;
  height: 100%;
}

.input-icon {
  position: relative;
}

.input-icon span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.input-icon input {
  padding: 8px 8px 8px 35px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.go-dashboad{
  display: flex;
  width: 149px;
  align-items: center;
  font-size: 14px;
  color: #1976d2;
  cursor: pointer;
  margin:30px 30px 0px;
  padding: 8px 8px 8px 35px;
  transition: 1s;
}

.go-dashboad:hover{
  transform:translateX(-10px);
}
a .go-dashboad-link{
  font-size: 14px;
  align-items: center;
}

.go-dashboad-link:hover{
  text-decoration: underline;
}


.responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-column-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-center-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-center-column-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-stretch-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-stretch-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-stretch-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-stretch-column-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-start-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-start-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-start-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.responsive-container-start-column-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  height: 100%;
} 