


.dashboard-container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
  padding:40px;
  
}

.card-tournamens{
  margin: 30px;
  background:rgb(255, 255, 255);
  border-radius:20px;
  padding:30px;
  text-align:left;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
  transition:0.2s;
  box-shadow:0px 0px 16px 3px rgb(2 0 0 / 71%);
}



.card{
  background:rgb(255, 255, 255);
  border-radius:20px;
  padding:30px;
  text-align:left;
  transition:0.2s;
  box-shadow:0px 0px 16px 3px rgb(2 0 0 / 71%);
}

.card:hover{
  transform:translateY(-5px);
  box-shadow:0px 0px 16px 20px rgba(47, 185, 9, 0.71);
}

.card-all-tournament{
  background:rgba(173, 142, 37, 0.71);
  border-radius:20px;
  padding:30px;
  text-align:left;
  transition:2s;
  box-shadow:0px 0px 16px 3px rgb(2 0 0 / 71%);
}

.card-all-tournament:hover{
  background:rgba(224, 175, 14, 0.71);
  transform:translateY(-20px);
  box-shadow:0px 0px 16px 20px rgba(224, 175, 14, 0.71);
}

.icon-circle{

  width:60px;
  height:60px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size:26px;
  margin-bottom:20px;
}

.blue{
  background:#2563eb;
}

.green{
  background:#16a34a;
}

.purple{
  background:#9333ea;
}


.card h3{
  font-size:22px;
  margin-bottom:10px;
}

.card p{
  color:#6b7280;
}

h1{
  text-align:center;
  margin-top:10px;
  color:#374151;
}

.material-symbols-outlined {
  width: 40px;
  height: 40px;
  font-size: 40px;
}