


.dashboard-container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
  padding:40px;
}



.card{
  background:white;
  border-radius:20px;
  padding:30px;
  text-align:left;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
  transition:0.2s;
}

.card:hover{
  transform:translateY(-5px);
}

.icon-circle{

  width:60px;
  height:60px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size:26px;
  margin-bottom:20px;
}

.blue{
  background:#2563eb;
}

.green{
  background:#16a34a;
}

.purple{
  background:#9333ea;
}


.card h3{
  font-size:22px;
  margin-bottom:10px;
}

.card p{
  color:#6b7280;
}

h1{
  text-align:center;
  margin-top:10px;
  color:#374151;
}

.material-symbols-outlined {
  width: 40px;
  height: 40px;
  font-size: 40px;
}