<h2>🏆 Mis Torneos</h2>

<div *ngIf="tournaments.length === 0" class="empty-state">

  <div _ngcontent-ng-c78620689="" class="group-exist"><span _ngcontent-ng-c78620689=""
      class="material-symbols-outlined">social_leaderboard</span>
    <div _ngcontent-ng-c78620689="">No hay Torneos aún. ¡Crea tu primer torneo!</div>
  </div>

</div>

<div *ngIf="tournaments.length > 0" class="tournament-list">

  <div *ngFor="let tournament of tournaments" class="tournament-card">

    <h3>{{ tournament.name }}</h3>

    <p>{{ tournament.category }}</p>

  </div>

</div>